@font-face {
    font-family: 'cynic';
    src: url('Fonts/cynic.ttf');
}


html, body {
    margin: 0 auto;
    padding: 0;
    width: 90%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* comment to test a.c.p. */

.page-container {
    margin: 0 auto;
    min-width: 600px;
    max-width: 100%;
    flex-flow: column wrap;
}

header {
    background-color: #F1A438;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.rplogo {
    margin: 5px 30px;
    display: flex;
    
    justify-content: flex-start;
    padding: 10px;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 60px;
}

.navlink {
    display: flex;
    
    justify-content: flex-end;
    margin: 10px;
}

label {
    justify-content: flex-end;
    font-family: 'cynic', Arial, sans-serif;
}

.navlink a {
    text-decoration: none;
    color: #2e2e2e;
}
.startweekimage {
    background-image: url("../images/hero-image.jpg");
    background-position: center center;
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

}
.caption1 {
    color: #2e2e2e;
    font-size: 1.5em;
    font-family: 'Libre Franklin', sans-serif;
    background-color: white;
    padding: 10px;
    margin: 330px 0 72px 0;
    min-width: 200px;
}

.largefontpara {
    font-size: 1.25em;
}

.main-content {
    margin: 0 auto;
    width: 80%;
}

.healthyRecipes {
    margin: 0 auto;
    background-color: #dadfea;
    padding: 30px;

}

h1, h2 {
    font-family: 'Libre Franklin', sans-serif;
}


.breakfast-lunch-dinner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#breakpic {
    background-image: url(../images/breakfast-ideas.jpg);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    margin: 20px 20px 0 20px;
}

#lunchpic {
    background-image: url(../images/vegetarian-ideas.jpg);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    margin: 20px 20px 0 20px;
}

#dinnerpic {
    background-image: url(../images/cold-weather-dinners.jpeg);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    margin: 20px 20px 0 20px;
    
}

.recipe-photos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.pic {
    text-align: center;
    margin: 0;
    
}

.pic p {
    text-align: center;
    background-color: white;
    margin-top: 0;
    padding: 5px;

}



#pepperspic {
    background-image: url(../images/fajita-peppers.jpeg);
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
}

#muffinspic {
    background-image: url(../images/muffins.jpeg);
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
}

#eggplantpic {
    background-image: url(../images/eggplant-parmesan.jpg);
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
}

#teriyakipic {
    background-image: url(../images/teriyaki-chicken.jpeg);
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    
}

.whereeatsection {
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.wheretoeat {
    width: 80%;
    background-color: white;
}

.where-to-eatpics {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.where-to-eatpics .mealpic {
    border: 5px solid #dadfea;
}
#video {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px auto;
}

.stars {
    color: #a63324;
    box-shadow: -7px 10px 40px -9px rgba(0,0,0,0.33);
    text-shadow: 0 0 .75px #a63324;
    color: transparent;
}

.twentysix {
    margin-top: 4px;
}

footer {
    background-color:#F1A438;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
    padding: 27px 27px 20px 27px;
}

.bottom-nav {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}

.bottom-navlink {
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}

footer a {
    text-decoration: none;
    color: #2e2e2e;
}

.bottom-navlink label {
    justify-content: flex-end;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.copyright-line {
    margin: 5px 30px 5px 30px;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    color: #2e2e2e;
    padding: 10px;
    min-width: 100px;
}

/* Additional CSS for Popular Recipes page */

.hamburgerweek {
    background-image: url("../images/bengal-burgerwfries.png");
    background-position: center center;
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

}
.timeInfo {
    background-color: #dadfea;
    padding: 10px 10% 0 10%;
}
.info {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    justify-content: flex-start;
}

.infogroup {
    padding: 0 10px 0 0;
}

.infopiece {
    font-family: 'cynic';
    padding: 10px 40px 10px 0;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.row {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 20px;
    background-color: #a63324;
    padding: 10px;
    margin: 10px 10px 10px 0;
    border: none;
    color: white;
    box-shadow: -7px 10px 40px -9px rgba(0,0,0,0.33);
}

.quoteRecipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}
.quote {
    width: 75%;
    background-color: #dadfea;
    padding: 20px;
    margin-bottom: 20px;

}

.recipe {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.column1 {
    flex-basis: 45%;
}

.column2 {
    flex-basis: 55%;
}

ul, ol, li {
    margin: 0 0 0 8px;
    padding: 0;
    font-size: .9em;


}

.spicetitle {
    font-size: .9em;
    font-weight: bold;
    margin-left: 16px;
}

.timing {
    font-size: .9em;
    font-weight: bold;
    margin: 16px;
}