@font-face {
    font-family: 'cynic';
    src: url('Fonts/cynic.ttf');
}


html, body {
    margin: 0 auto;
    padding: 0;
    width: 90%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
/* comment to test a.c.p. */
header {
    background-color: #F1A438;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.rplogo {
    margin: 5px 30px;
    display: flex;
    
    justify-content: flex-start;
    padding: 10px;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 60px;
}

.navlink {
    display: flex;
    
    justify-content: flex-end;
    margin: 10px;
}
label {
    justify-content: flex-end;
    font-family: 'cynic', Arial, sans-serif;
}
.navlink a {
    text-decoration: none;
    color: #2e2e2e;

}
.startweekimage {
    background-image: url("../images/hero-image.jpg");
    background-position: center center;
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

}
.caption1 {
    color: #2e2e2e;
    font-size: 1.5em;
    font-family: 'Libre Franklin', sans-serif;
    background-color: white;
    padding: 10px;
    margin: 330px 0 72px 0;
    min-width: 200px;
}

.main-content {
    margin: 0 auto;
    width: 80%;
}

h2 {
    font-family: 'Libre Franklin', sans-serif;
}
p {
    font-family: 'cynic', Arial;
}

footer {
    background-color:#F1A438;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
    padding: 27px 27px 20px 27px;
}

.bottom-nav {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}

.bottom-navlink {
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}

footer a {
    text-decoration: none;
    color: #2e2e2e;
}

.bottom-navlink label {
    justify-content: flex-end;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.copyright-line {
    margin: 5px 30px 5px 30px;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    color: #2e2e2e;
    padding: 10px;
    min-width: 100px;
}