@font-face {
    font-family: 'cynic';
    src: url('Fonts/cynic.ttf');
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #F1A438;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 0 5px 0;
}

.rplogo {
    margin: 5px 30px;
    display: flex;
    flex: flex-grow;
    justify-content: flex-start;
    padding: 10px;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 60px;
}

.navlink {
    display: flex;
    
    justify-content: flex-end;
    margin: 10px;
}
label {
    justify-content: flex-end;
    font-family: 'cynic', Arial, sans-serif;
}
.navlink a {
    text-decoration: none;
    color: #2e2e2e;

}
.startweekimage {
    background-image: url("../images/hero-image.jpg");
    background-position: center center;
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

}
.caption1 {
    color: #2e2e2e;
    font-size: 2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    padding: 10px;
    min-width: 200px;
}
