.para {
    background-image: url("images/pizza.jpeg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom {
    height: 1000px;
    background-color: #fff;
    font-size: 30px;
}