
%gencontainer {
    padding: 10px;
    background-color: #f7a9a8;
}

%basicfont {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 5px;
}

%background {
    background-color: #e5c3d1;
    margin: 20px 30px;
}

$titlecolor: #613f75;
$anchorcolor: #ef798a;
$textcolor: #7d82b8;
$basicfontsize: 1em;
$titlesize: 25px;
$backcolor: #e5c3d1;
$basicmargin: 15px 10% 10px 10%;
$basicpadding: 15px;
$navpadding: 0 30px;
$gentextfamily: Arial, Helvetica, sans-serif;
$bradius: 12px;

