@use 'base';
@use 'image';

/* mixin formatting example below */
/* @mixin sizing($property) {
    padding: $property;
    border-radius: $property;
    margin: $property;
} */

body {
    margin: 0;
    height: auto;
    width: 100%;
}

a {
    text-decoration: none;
    margin: base.$basicpadding;
}

%colprofile {
    padding: 20px;
    box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.46);
    border-radius: base.$bradius;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;

}
.container {
    
    @extend %gencontainer;

    header {
        margin: base.$navpadding;
    }
    a {
        color: base.$anchorcolor;
        font-family: base.$gentextfamily;
    }
    .blurb {
        .title {

            @extend %background;
            @extend %basicfont;

            font-size: base.$titlesize;
            color: base.$titlecolor;
            background-color: base.$backcolor;
            padding: base.$basicpadding;
            
        }
    }
    p {
        margin: base.$basicmargin;
        font-family: base.$gentextfamily;
    }
}

.profile {
    @extend %colprofile;

    .profileFace {
        width: 200px;
        height: 200px;
        overflow: hidden;
        img {
            width: 100%;
        }

        
    }
    
    .name {
        @extend %basicfont;
    }

    .testimonial {
        @extend %basicfont;
    }
}